.box {
  position: relative;
  border-radius: 50px;
  height: 100px;
  width: 250px;
  left: -300px;
  -webkit-transition: left 1.5s ease;
  -moz-transition: left 1.5s ease;
  -o-transition: left 1.5s ease;
  transition: left 1.5s ease;
}

.dot {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 96px;
  width: 96px;
  border: royalblue solid 2px;
  box-sizing: border-box;
  border-radius: inherit;
}

.red {
  background-color: orange;
}

.slide-in {
  left: -50px;
}